body {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  text-align: center;
  padding: 20px;
  background-color: #0056b3;
}

.container {
  width: 60%;
  height: 75vh;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: auto;
  margin-top: 5rem;
  overflow: hidden;
}

textarea {
  width: 90%;
  height: 100px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#checkboxes {
  margin: 20px;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
  text-align: center;
}

button {
  padding: 10px 20px;
  background: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background: #0056b3;
}

#output-text {
  margin: 2.5rem;
  height: 30%;
  padding: 10px;
  background: #e8e8e8;
  min-height: 50px;
  border-radius: 5px;
}
