<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NER Project</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <h1>Named Entity Recognition</h1>
      <form method="POST">
        <textarea
          id="input-text"
          name="text_input"
          placeholder="Paste your text here..."
          rows="10"
          cols="50"
        ></textarea>
        <div id="checkboxes">
          <p><strong>Customer Support</strong></p>
          <label
            ><input type="checkbox" name="entity" value="customer_names_sp" />
            Customer Names</label
          >
          <label
            ><input type="checkbox" name="entity" value="support_agents_sp" />
            Support Agents</label
          >
          <label
            ><input type="checkbox" name="entity" value="order_numbers_sp" />
            Order Numbers</label
          >
          <label
            ><input type="checkbox" name="entity" value="product_names_sp" />
            Product Names</label
          >
          <label
            ><input type="checkbox" name="entity" value="complaint_types_sp" />
            Complaint Types</label
          >
          <label
            ><input type="checkbox" name="entity" value="time_date_sp" />
            Time/Date</label
          >
          <label
            ><input
              type="checkbox"
              name="entity"
              value="issue_description_sp"
            />
            Issue Description</label
          >
          <label
            ><input type="checkbox" name="entity" value="refund_request_sp" />
            Refund Request</label
          >
          <label
            ><input type="checkbox" name="entity" value="shipping_info_sp" />
            Shipping Info</label
          >
          <label
            ><input type="checkbox" name="entity" value="discount_promos_sp" />
            Discounts/Promotions</label
          >
          <label
            ><input type="checkbox" name="entity" value="service_req_sp" />
            Service Requests</label
          >
          <label
            ><input
              type="checkbox"
              name="entity"
              value="customer_feedback_sp"
            />
            Customer Feedback</label
          >
          <label
            ><input type="checkbox" name="entity" value="escalation_req_sp" />
            Escalation Request</label
          >
          <label
            ><input type="checkbox" name="entity" value="product_models_sp" />
            Product Models</label
          >
          <label
            ><input type="checkbox" name="entity" value="ticket_numbers_sp" />
            Ticket Numbers</label
          >
          <p><strong>Customer Service</strong></p>
          <label
            ><input type="checkbox" name="entity" value="customer_names_sv" />
            Customer Names</label
          >
          <label
            ><input type="checkbox" name="entity" value="support_reps_sv" />
            Support Reps</label
          >
          <label
            ><input type="checkbox" name="entity" value="order_numbers_sv" />
            Order Numbers</label
          >
          <label
            ><input type="checkbox" name="entity" value="escalation_req_sv" />
            Escalation Requests</label
          >
          <label
            ><input
              type="checkbox"
              name="entity"
              value="company_names_sv
"
            />
            Company Names
          </label>
          <label
            ><input type="checkbox" name="entity" value="product_names_sv" />
            Product Names</label
          >
          <label
            ><input type="checkbox" name="entity" value="sla_sv" /> SLA</label
          >
          <label
            ><input type="checkbox" name="entity" value="customer_queries_sv" />
            Customer Queries</label
          >
          <label
            ><input type="checkbox" name="entity" value="service_types_sv" />
            Service Types</label
          >
          <label
            ><input type="checkbox" name="entity" value="payment_issues_sv" />
            Payment Issues</label
          >
          <label
            ><input type="checkbox" name="entity" value="refund_request_sv" />
            Refund Requests</label
          >
          <label
            ><input type="checkbox" name="entity" value="feedback_sv" />
            Feedback</label
          >
          <label
            ><input type="checkbox" name="entity" value="discount_code_sv" />
            Discount Codes</label
          >
          <label
            ><input type="checkbox" name="entity" value="shipping_info_sv" />
            Shipping Info</label
          >
          <label
            ><input
              type="checkbox"
              name="entity"
              value="cust_satisfaction_rating_sv"
            />
            Satisfaction Ratings</label
          >
        </div>
        <button type="submit" id="process-btn">Process Text</button>
      </form>
      <div id="output-text">
        {% if processed_text %}
        <p id="highlighted-text">{{ processed_text }}</p>
        {% endif %}
      </div>
    </div>
    <script>
      const checkboxElements = document.querySelectorAll(
        'input[type="checkbox"]'
      );
      const highlightedTextElement =
        document.getElementById("highlighted-text");

      const colors = {
        customer_names_sp: "#ffcccb",
        support_agents_sp: "#ccffcc",
        order_numbers_sp: "#ffeb3b",
        product_names_sp: "#FFB3BA",
        complaint_types_sp: "#FFDFBA",
        time_date_sp: "#FFFABA",
        issue_description_sp: "#D4FFBA",
        refund_request_sp: "#BAFFCE",
        shipping_info_sp: "#BAFFFB",
        discount_promos_sp: "#BAE1FF",
        service_req_sp: "#C0BAFF",
        customer_feedback_sp: "#FFB3FF",
        escalation_req_sp: "#FFBAE5",
        product_models_sp: "#FF9D9D",
        ticket_numbers_sp: "#FFB9C3",

        customer_names_sv: "#F6C1D2",
        support_reps_sv: "#F3B0D0",
        order_numbers_sv: "#C6F6F1",
        escalation_req_sv: "#C4E1FF",
        company_names_sv: "#F0E68C",
        product_names_sv: "#F1E7A8",
        sla_sv: "#FFD700",
        customer_queries_sv: "#B3E5FC",
        service_types_sv: "#FFDEAD",
        payment_issues_sv: "#D0E1F9",
        refund_request_sv: "#FFE4E1",
        feedback_sv: "#FAFAD2",
        discount_code_sv: "#FFFACD",
        shipping_info_sv: "#F0FFF0",
        cust_satisfaction_rating_sv: "#F5FFFA",
      };

      function highlightText(entities) {
        let text = highlightedTextElement.innerHTML;

        entities.forEach((entity) => {
          if (document.querySelector(`input[value="${entity}"]`).checked) {
            const regex = new RegExp(`\\b${entity}\\b`, "g");
            const color = colors[entity] || "#ffff00";
            text = text.replace(
              regex,
              `<span class="highlight" style="background-color:${color}">${entity}</span>`
            );
          }
        });

        highlightedTextElement.innerHTML = text;
      }

      checkboxElements.forEach((checkbox) => {
        checkbox.addEventListener("change", function () {
          const entities = Array.from(checkboxElements)
            .filter((checkbox) => checkbox.checked)
            .map((checkbox) => checkbox.value);

          highlightText(entities);
        });
      });
    </script>
  </body>
</html>
